{% extends 'components/main.html' %} {% block content %}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="">Dashboard</a>
  </li>
  <li class="breadcrumb-item">Tabel</li>
  <li class="breadcrumb-item active">Data Sekolah</li>
</ol>

{% include "components/successInfo.html" %}

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Tabel Data Sekolah
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <a
          href="{{ url_for('server.tambah_data_sekolah') }}"
          class="btn btn-primary btn-sm mb-3"
          ><i class="far fa-plus-square"></i> Tambah Data Sekolah</a
        >
        <thead>
          <tr>
            <th>No</th>
            <th>Judul</th>
            <th>Deskripsi</th>
            <th>Upload Pada</th>
            <th>Download</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for data in data_sekolah %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ data.judul }}</td>
            <td>{{ data.deskripsi }}</td>
            <td>{{ moment(data.waktu_upload).format('LLLL')}}</td>
            <td>
              <a
                href="{{ url_for('server.dokumen_data_sekolah', filename=data.nama_dokumen) }}"
                >Download file</a
              >
            </td>
            <td>
              <a
                href="{{ url_for('server.ubah_data_sekolah', id=data.id) }}"
                class="edit"
                title="Edit"
                data-toggle="tooltip"
                ><i class="fas fa-pencil-alt"></i
              ></a>
              <a
                href="{{ url_for('server.hapus_data_sekolah', id=data.id) }}"
                class="delete"
                title="Delete"
                data-toggle="tooltip"
                ><i class="fas fa-trash"></i
              ></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
