{% extends 'components/main.html' %} {% block content %} {% include
'components/successInfo.html' %}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item">Data</li>
  <li class="breadcrumb-item active">Murid</li>
</ol>

<div class="button-select d-flex justify-content-center">
  {% for kelas in kelas %}
  <a
    class="btn btn-sm btn-info my-3 mx-3"
    href="{{ url_for('server.data_murid_kelas', ruang=kelas.id) }}"
    >Kelompok {{ kelas.ruang }}</a
  >
  {% endfor %}
</div>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Tabel Data Murid
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <a
          href="{{ url_for('server.tambah_murid' )}}"
          class="btn btn-sm btn-primary mb-3"
          ><i class="far fa-plus-square"></i> Tambah Data
        </a>
        <thead>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Nomor Induk</th>
            <th>Kelas</th>
            <th>Lulus</th>
            <th>Jenis Kelamin</th>
            <th>Tempat/ Tanggal Lahir</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for murid in data_murid %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ murid.nama }}</td>
            <td>{{ murid.nomor_induk }}</td>
            <td>{{ murid.kelas.ruang }}</td>
            <td>
              {% if murid.lulus == True %}Sudah lulus {% else %} Belum lulus {%
              endif%}
            </td>
            <td>{{ murid.jenis_kelamin }}</td>
            <td>{{ murid.tempat_lahir }}, {{ murid.tanggal_lahir }}</td>
            <td>
              <a
                href="{{ url_for('server.lihat_murid', id=murid.id) }}"
                class="view"
                title="View"
                data-toggle="tooltip"
                ><i class="far fa-eye"></i
              ></a>
              <a
                href="{{ url_for('server.ubah_murid', id=murid.id) }}"
                class="edit"
                title="Edit"
                data-toggle="tooltip"
                ><i class="fas fa-pencil-alt"></i
              ></a>
              <a
                href="{{ url_for('server.hapus_murid', id=murid.id)}}"
                class="delete"
                title="Delete"
                data-toggle="tooltip"
                ><i class="fas fa-trash"></i
              ></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
{% endblock %}
