{% extends 'components/main.html' %} {% block content %}
{% include "components/successInfo.html" %}
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{ url_for('server.foto_murid', filename=murid.nama_foto_diri)}}"
                        alt="{{ murid.nama_foto }}" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{ murid.nama }}
                    </h5>
                    <h6>
                        {{ murid.nomor_induk}}
                    </h6>
                    <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Data diri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Pendidikan</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>Account</p>
                    <a href="{{ url_for('server.ubah_murid', id=murid.id) }}">Edit your profile</a><br />
                    <a href="{{ url_for('server.akun_murid', id=murid.id) }}">Password</a><br />
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nama ibu kandung</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ murid.nama_ibu_kandung }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Jenis Kelamin</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ murid.jenis_kelamin }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Tempat/ Tanggal lahir</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ murid.tempat_lahir }},{{ murid.tanggal_lahir }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Agama</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ murid.agama }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Kelurahan</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ murid.kelurahan }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Kecamatan</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ murid.kecamatan }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Kabupaten</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ murid.kabupaten }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Provinsi</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ murid.provinsi }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Alamat</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ murid.alamat }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Kelas</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ murid.kelas.ruang }}</p>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Tahun pelajaran</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ murid.tahun_pelajaran}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Lulus</label>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    {% if murid.lulus == True %}
                                    Sudah Lulus
                                    {% else %}
                                    Belum Lulus
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}