{% extends 'components/back_office.html' %}
{% block content_app %}
<div class="container-fluid">
  <a href="{{ url_for('server.ubah_password_murid', id=data.id) }}" class="btn btn-primary mb-4">Tambah Password</a>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{ title.title() }}</h6>
    </div>
    <div class="card-body">
      <form class="user" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token() }}
        <div class="form-group">
          {{ form.nama.label() }}
          {{ form.nama(class="form-control")}}
          {% for error in form.nama.errors %}
          <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            {{ form.email.label() }}
            {{ form.email(class="form-control")}}
            {% for error in form.email.errors %}
            <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="col-sm-6">
            {{ form.nama_panggilan.label() }}
            {{ form.nama_panggilan(class="form-control")}}
            {% for error in form.nama_panggilan.errors %}
            <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            {{ form.nomor_induk.label() }}
            {{ form.nomor_induk(class="form-control")}}
            {% for error in form.nomor_induk.errors %}
            <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="col-sm-6">
            {{ form.anak_ke.label() }}
            {{ form.anak_ke(class="form-control")}}
            {% for error in form.anak_ke.errors %}
            <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            {{ form.nama_ibu_kandung.label() }}
            {{ form.nama_ibu_kandung(class="form-control")}}
            {% for error in form.nama_ibu_kandung.errors %}
            <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="col-sm-6">
            {{ form.jenis_kelamin.label() }}
            {{ form.jenis_kelamin(class="form-control")}}
            {% for error in form.jenis_kelamin.errors %}
            <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            {{ form.agama.label()}}
            {{ form.agama(class="form-control")}}
            {% for error in form.agama.errors %}
            <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="col-sm-6">
            {{ form.tahun_pelajaran.label() }}
            {{ form.tahun_pelajaran(class="form-control")}}
            {% for error in form.tahun_pelajaran.errors %}
            <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            {{ form.tempat_lahir.label() }}
            {{ form.tempat_lahir(class="form-control")}}
            {% for error in form.tempat_lahir.errors %}
            <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="col-sm-6">
            {{ form.tanggal_lahir.label() }}
            {{ form.tanggal_lahir(class="form-control")}}
            {% for error in form.tanggal_lahir.errors %}
            <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            {{ form.kelas.label()}}
            {{ form.kelas(class="form-control")}}
            {% for error in form.kelas.errors %}
            <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="col-sm-6 mb-3 mb-sm-0">
            {{ form.foto_diri.label()}}
            <br>
            <div class="row">
              <div class="col-sm-3">
                {% if data.nama_foto_diri is not none %}
                <img src="{{ url_for('server.foto_murid', filename=data.nama_foto_diri) }}"
                  alt="{{ data.nama_foto_diri }}" width="100px" class="img-thumbnail">
                {% else %}
                <img src="{{ url_for('static', filename='img/100x100.svg') }}" width="100" alt="Placeholder Logo">
                {% endif %}
              </div>
              <div class="col-sm-9">
                {{ form.foto_diri(accept="image/*")}}
              </div>
            </div>
            {% for error in form.foto_diri.errors %}
            <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            {{ form.lulus.label()}}
            {{ form.lulus()}}
            {% for error in form.lulus.errors %}
            <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="col-sm-6">
            {{ form.dusun.label()}}
            {{ form.dusun(class="form-control")}}
            {% for error in form.dusun.errors %}
            <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            {{ form.kelurahan.label()}}
            {{ form.kelurahan(class="form-control")}}
            {% for error in form.kelurahan.errors %}
            <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="col-sm-6">
            {{ form.kecamatan.label() }}
            {{ form.kecamatan(class="form-control")}}
            {% for error in form.kecamatan.errors %}
            <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            {{ form.kabupaten.label()}}
            {{ form.kabupaten(class="form-control")}}
            {% for error in form.kabupaten.errors %}
            <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="col-sm-6">
            {{ form.provinsi.label() }}
            {{ form.provinsi(class="form-control")}}
            {% for error in form.provinsi.errors %}
            <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="form-group">
          {{ form.alamat.label() }}
          {{ form.alamat(class="form-control")}}
          {% for error in form.alamat.errors %}
          <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
          {% endfor %}
        </div>
        {{ form.submit(class='btn btn-primary')}}
      </form>
    </div>
  </div>

</div>
{% endblock %}