{% extends 'components/main.html' %} {% block content %}

<form action="" method="POST">
  <a
    href="{{ url_for('server.data_kelas')}}"
    class="btn btn-primary btn-sm mb-3"
    >Kembali</a
  >
  {{ form.csrf_token() }}
  <div class="form-group row">
    {{ form.ruang.label(class='col-sm-2 col-form-label')}}
    <div class="col-sm-8">
      {{ form.ruang(class='form-control form-control-sm', maxlength='2')}} {%
      for error in form.ruang.errors %}
      <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="col-sm-2">
      {{ form.submit(class='btn btn-sm btn-info btn-block')}}
    </div>
  </div>
</form>
{% endblock %}
