<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link home-link" href="{{ url_for('client.index')}}">
        <span>Home</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link berita-link" href="{{ url_for('client.berita')}}">
        <span>Berita</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link learning-link" href="{{ url_for('client.learning')}}">
        <span>E-Learning</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link guru-link" href="{{ url_for('client.guru_sekolah')}}">
        <span>Data Guru</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link guru-link" href="{{ url_for('client.prestasi')}}">
        <span>Prestasi Sekolah</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link profil-link" href="{{ url_for('client.lihat_profile')}}">
        <span>Profil Sekolah</span></a>
    </li>
  </ul>


  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    {% if current_user.is_authenticated %}
    <li class="nav-item dropdown no-arrow" style="padding: 16px 30px;">
      <a class=" nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ current_user.guru.nama }}</span>
        {% if current_user.guru.foto is not none %}
        <img class="img-profile rounded-circle"
          src="{{ url_for('server.foto_guru', filename=current_user.guru.nama_foto ) }}">
        {% else %}
        <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
        {% endif %}
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        </a>
      </div>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" style="padding: 17px;" href="{{ url_for('auth.login')}}">
        <span>Login</span></a>
    </li>
    {% endif %}

  </ul>

</nav>