<footer>
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-md-8 text-center">
        <h6><span class="menu">{{ profile.nama_lembaga }}</span></h6>
        <span class="menu-deskripsi"
          >{{ profile.alamat }} Kec. {{ profile.kecamatan }} Kab. {{
          profile.kabupaten }} {{ profile.provinsi }} KP. {{ profile.kode_pos
          }}</span
        >
      </div>
      <div class="col-md-4">
        <br />
        <span class="menu-deskripsi">No. Telepon </span><br />
        <span class="menu-deskripsi">{{ profile.no_telepon }}</span><br />
        <span class="menu-deskripsi">Email</span><br />
        <span class="menu-deskripsi">{{ profile.email }}</span><br />
      </div>
    </div>
    <div class="text-center copyright">
      <p>Copyright @ 2019 tkpkkpringgabaya.sch.id</p>
    </div>
  </div>
</footer>
