<footer>
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-md-3">
        <span class="menu-deskripsi">Copyright &#169; 2020 </span><br />
        <span class="menu-deskripsi">TK PKK Pringgabaya</span><br />
        <span class="menu-deskripsi">All Right Reserved</span>
      </div>
      <div class="col-md-3">
        Logo
      </div>
      <div class="col-md-3">
        <span class="menu">TK PKK Pringgabaya</span><br />
        <span class="menu-deskripsi"
          >Jalan Sandubaya Nomor 33 Desa Pringgabaya, Pringgabaya, Lombok Timur,
          Nusa Tenggara Barat</span
        ><br />
        <span class="menu-deskripsi">No-Telepon: +62 81907823905</span><br />
        <span class="menu-deskripsi">E-Mail: tkpkk@tkpkkpringgabaya.sch.id</span
        ><br />
      </div>
    </div>
  </div>
</footer>
