<nav class="navbar navbar-light">
  <div class="container d-flex justify-content-between">
    <a href="{{ url_for('client.index') }}" aclass="navbar item-bawah nav-link"
      >TK PKK</a
    >
    <div class="navbar-nav d-flex flex-row-reverse">
      <a
        class="nav-item item-bawah nav-link px-3"
        href="{{ url_for('client.learning') }}"
        >E-Learning</a
      >
      <a
        class="nav-item item-bawah nav-link px-3"
        href="{{ url_for('client.prestasi') }}"
      >
        Prestasi
      </a>
      <a
        href="{{ url_for('client.guru_sekolah') }}"
        class="nav-item item-bawah nav-link px-3"
        >Guru</a
      >
      <a
        href="{{ url_for('client.lihat_profile') }}"
        class="nav-item item-bawah nav-link px-3"
        >Profile Sekolah</a
      >
    </div>
  </div>
</nav>
