<nav class="navbar navbar-light">
  <div class="container d-flex justify-content-between">
    <a href="{{ url_for('client.index') }}" aclass="navbar item-bawah">Home</a>
    <div class="navbar-nav d-flex flex-row-reverse">
      <a class="nav-item item-bawah nav-link px-3">E-Learning</a>
      <a class="nav-item item-bawah nav-link px-3" href="">
        Prestasi
      </a>
      <a
        href="{{ url_for('client.guru_sekolah') }}"
        class="nav-item item-bawah nav-link px-3"
        >Guru</a
      >
      <a
        href="{{ url_for('client.lihat_profile') }}"
        class="nav-item item-bawah nav-link px-3"
        >Profile Sekolah</a
      >
    </div>
  </div>
</nav>
