{% extends 'components/main.html' %}

{% block content %}

{% include 'components/successInfo.html' %}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item">Data</li>
    <li class="breadcrumb-item active">wali</li>
</ol>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Daftar data wali
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <a href="{{ url_for('server.tambah_wali') }}" class="btn btn-sm btn-primary mb-3"><i
                        class="far fa-plus-square"></i> Tambah Data </a>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Nama</th>
                        <th>Nama anak</th>
                        <th>Jenis Kelamin</th>
                        <th>Pekerjaan</th>
                        <th>Tempat/ Tanggal Lahir</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for wali in data_wali_murid %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ wali.nama }}</td>
                        <td>{{ wali.murid.nama }}</td>
                        <td>{{ wali.jenis_kelamin }}</td>
                        <td>{{ wali.pekerjaan }}</td>
                        <td>{{ wali.tempat_lahir }}, {{ wali.tanggal_lahir }}</td>
                        <td>
                            <a href="{{ url_for('server.lihat_wali', id=wali.id) }}" class="view" title="View"
                                data-toggle="tooltip"><i class="far fa-eye"></i></a>
                            <a href="{{ url_for('server.ubah_wali', id=wali.id) }}" class="edit" title="Edit"
                                data-toggle="tooltip"><i class="fas fa-pencil-alt"></i></a>
                            <a href="{{ url_for('server.hapus_wali', id=wali.id)}}" class="delete" title="Delete"
                                data-toggle="tooltip"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
{% endblock %}