{% extends 'components/back_office.html' %}
{% block content_app %}
<!-- Custom styles for this page -->
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css' ) }}" rel="stylesheet">


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Wali Murid</h1>
    <p class="mb-4">Di dalam tabel ini mengandung beberapa informasi tentang {{ title.lower() }}</a>.</p>

    {% include 'components/flash.html' %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ title.title() }}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% if current_user.is_administrator() %}
                <div class="py-3">
                    <a class="btn btn-sm btn-primary" href="{{ url_for('server.tambah_wali') }}">Tambah Wali</a>
                </div>
                {% endif %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nama</th>
                            <th>Nomor Anak</th>
                            <th>Pekerjaan</th>
                            <th>Jenis Kelamin</th>
                            <th>Tempat/ Tanggal Lahir</th>
                            {% if current_user.is_administrator() %}
                            <th>Aksi</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for wali in data_wali %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ wali.nama }}</td>
                            <td>{{ wali.murid.nama }}</td>
                            <td>{{ wali.pekerjaan }}</td>
                            <td>{{ wali.jenis_kelamin }}</td>
                            <td>{{ wali.tempat_lahir }}, {{ wali.tanggal_lahir }}</td>
                            {% if current_user.is_administrator() %}
                            <td>
                                <a href="{{ url_for('server.ubah_wali', id=wali.id) }}"
                                    class="btn btn-info btn-circle btn-sm">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="{{ url_for('server.hapus_wali', id=wali.id) }}"
                                    class="btn btn-danger btn-circle btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js' )}}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>
{% endblock %}