{% extends 'components/mainClient.html' %} {% block content %}

<div class="container my-4">
  <div class="row">
    <div class="col-md-12 berita-data">
      <div class="text-berita">
        <div class="waktu-upload text-center">
          <h5><strong>Guru TK PKK Pringgabaya</strong></h5>
        </div>
        <div class="content-berita my-5">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nama</th>
                <th scope="col">Jabatan</th>
                <th scope="col">NIK</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              {% for guru in guru %}
              <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ guru.nama }}</td>
                <td>{{ guru.jabatan }}</td>
                <td>{{ guru.nik }}</td>
                <td>{{ guru.user.email }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}