{% extends 'components/mainClient.html' %} {% block content %}

<div class="container my-4">
  <div class="row">
    <div class="col-md-8 berita-data">
      <div class="text-center mb-5">
        <h5><strong>Profile Sekolah</strong></h5>
      </div>
      <div class="form-group d-flex justify-content-start">
        <div class="col-md-5 header-profile pl-0">
          <h6>Nama Lembaga</h6>
        </div>
        <div class="col-md-7 content-profile">
          <h6>: {{ profile.nama_lembaga }}</h6>
        </div>
      </div>
      <div class="form-group d-flex justify-content-start">
        <div class="col-md-5 header-profile pl-0">
          <h6>Kode Pos</h6>
        </div>
        <div class="col-md-7 content-profile">
          <h6>: {{ profile.kode_pos }}</h6>
        </div>
      </div>
      <div class="form-group d-flex justify-content-start">
        <div class="col-md-5 header-profile pl-0">
          <h6>Kelurahan</h6>
        </div>
        <div class="col-md-7 content-profile">
          <h6>: {{ profile.kelurahan }}</h6>
        </div>
      </div>
      <div class="form-group d-flex justify-content-start">
        <div class="col-md-5 header-profile pl-0">
          <h6>Kecamatan</h6>
        </div>
        <div class="col-md-7 content-profile">
          <h6>: {{ profile.kecamatan }}</h6>
        </div>
      </div>
      <div class="form-group d-flex justify-content-start">
        <div class="col-md-5 header-profile pl-0">
          <h6>Kabupaten</h6>
        </div>
        <div class="col-md-7 content-profile">
          <h6>: {{ profile.kabupaten }}</h6>
        </div>
      </div>
      <div class="form-group d-flex justify-content-start">
        <div class="col-md-5 header-profile pl-0">
          <h6>Provinsi</h6>
        </div>
        <div class="col-md-7 content-profile">
          <h6>: {{ profile.provinsi }}</h6>
        </div>
      </div>
      <div class="form-group d-flex justify-content-start">
        <div class="col-md-5 header-profile pl-0">
          <h6>No. Statistik</h6>
        </div>
        <div class="col-md-7 content-profile">
          <h6>: {{ profile.no_statistik }}</h6>
        </div>
      </div>
      <div class="form-group d-flex justify-content-start">
        <div class="col-md-5 header-profile pl-0">
          <h6>Akte Notaris</h6>
        </div>
        <div class="col-md-7 content-profile">
          <h6>: {{ profile.akte_notaris }}</h6>
        </div>
      </div>
      <div class="form-group d-flex justify-content-start">
        <div class="col-md-5 header-profile pl-0">
          <h6>Kegiatan Belajar</h6>
        </div>
        <div class="col-md-7 content-profile">
          <h6>: {{ profile.kegiatan_belajar }}</h6>
        </div>
      </div>
      <div class="form-group d-flex justify-content-start">
        <div class="col-md-5 header-profile pl-0">
          <h6>Tahun Berdiri</h6>
        </div>
        <div class="col-md-7 content-profile">
          <h6>: {{ profile.tahun_berdiri }}</h6>
        </div>
      </div>
      <div class="form-group d-flex justify-content-start">
        <div class="col-md-5 header-profile pl-0">
          <h6>Status TK</h6>
        </div>
        <div class="col-md-7 content-profile">
          <h6>: {{ profile.status_tk }}</h6>
        </div>
      </div>
      <div class="form-group d-flex justify-content-start">
        <div class="col-md-5 header-profile pl-0">
          <h6>No. Izin Pendirian</h6>
        </div>
        <div class="col-md-7 content-profile">
          <h6>: {{ profile.no_izin_pendirian }}</h6>
        </div>
      </div>
      <div class="form-group d-flex justify-content-start">
        <div class="col-md-5 header-profile pl-0">
          <h6>No. Izin Operasional</h6>
        </div>
        <div class="col-md-7 content-profile">
          <h6>: {{ profile.no_izin_operasional }}</h6>
        </div>
      </div>
      <div class="form-group d-flex justify-content-start">
        <div class="col-md-5 header-profile pl-0">
          <h6>Kurikulum</h6>
        </div>
        <div class="col-md-7 content-profile">
          <h6>: {{ profile.kurikulum }}</h6>
        </div>
      </div>
      <div class="form-group d-flex justify-content-start">
        <div class="col-md-5 header-profile pl-0">
          <h6>No. Telepon</h6>
        </div>
        <div class="col-md-7 content-profile">
          <h6>: {{ profile.no_telepon }}</h6>
        </div>
      </div>
      <div class="form-group d-flex justify-content-start">
        <div class="col-md-5 header-profile pl-0">
          <h6>Email</h6>
        </div>
        <div class="col-md-7 content-profile">
          <h6>: {{ profile.nama_lembaga }}</h6>
        </div>
      </div>
      <div class="form-group d-flex justify-content-start">
        <div class="col-md-5 header-profile pl-0">
          <h6>Nama Lembaga</h6>
        </div>
        <div class="col-md-7 content-profile">
          <h6>: {{ profile.email }}</h6>
        </div>
      </div>
      <div class="form-group my-5">
        <div class="header-profile text-center">
          <h6><strong>Visi dan Misi</strong></h6>
        </div>
        <div class="content-profile">
          <h6>{{ profile.visi_misi | safe }}</h6>
        </div>
      </div>
    </div>
    {% include 'components/arsipBerita.html' %}
  </div>
</div>
{% endblock %}
