{% extends 'components/mainClient.html' %} {% block content %}
<div class="container my-4">
  <div class="row">
    <div class="col-md-12 berita-data">
      <div class="text-berita">
        <div class="waktu-upload text-center">
          <h5><strong>{{ title }}</strong></h5>
        </div>
        <div class="content-berita my-5">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>Nama Lembaga</th>
                <td>{{ profile.nama_lembaga }}</td>
              </tr>
              <tr>
                <th>No. Statistik</th>
                <td>{{ profile.no_statistik }}</td>
              </tr>
              <tr>
                <th>Akte Notaris</th>
                <td>{{ profile.akte_notaris }}</td>
              </tr>
              <tr>
                <th>No. Izin Pendirian</th>
                <td>{{ profile.no_izin_pendirian }}</td>
              </tr>
              <tr>
                <th>No. Izin Operasional</th>
                <td>{{ profile.no_izin_operasional }}</td>
              </tr>
              <tr>
                <th>Tahun Berdiri</th>
                <td>{{ profile.tahun_berdiri }}</td>
              </tr>
              <tr>
                <th>Status TK</th>
                <td>{{ profile.status_tk }}</td>
              </tr>
              <tr>
                <th>Kurikulum</th>
                <td>{{ profile.kurikulum }}</td>
              </tr>
              <tr>
                <th>Kegiatan Belajar</th>
                <td>{{ profile.kegiatan_belajar }}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{ profile.email }}</td>
              </tr>
              <tr>
                <th>No. Telepon</th>
                <td>{{ profile.no_telepon }}</td>
              </tr>
              <tr>
                <th>Kode Pos</th>
                <td>{{ profile.kode_pos }}</td>
              </tr>
              <tr>
                <th>Kelurahan</th>
                <td>{{ profile.kelurahan }}</td>
              </tr>
              <tr>
                <th>Kecamatan</th>
                <td>{{ profile.kecamatan }}</td>
              </tr>
              <tr>
                <th>Kabupaten</th>
                <td>{{ profile.kabupaten }}</td>
              </tr>
              <tr>
                <th>Provinsi</th>
                <td>{{ profile.provinsi }}</td>
              </tr>
              <tr>
                <th>Alamat</th>
                <td>{{ profile.alamat | striptags }}</td>
              </tr>
              <tr>
                <th colspan="2">Visi dan Misi</th>
              </tr>
              <tr>
                <td colspan="2">{{ profile.visi_misi | safe }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}