{% extends 'components/mainClient.html' %} {% block content %}

<div class="container my-4">
  <div class="row">
    <div class="col-md-8 berita-data">
      <div class="text-berita">
        <div class="waktu-upload text-center">
          <h5><strong>{{ berita.judul }}</strong></h5>
          <span class="text-muted"
            ><i class="fa fa-clock-o"></i> {{
            moment(berita.waktu_upload).format('LL')}}</span
          >
        </div>
        <div class="content-berita my-5">
          {{ berita.deskripsi | safe }}
          <br />
          {% if berita.dokumen is not none %}
          <a href="{{ url_for('client.client_berita_dokumen', filename=berita.nama_dokumen)}}"
          >Download Dokumen</a>
          {% endif %}
        </div>
        <div class="share mt-5">
          {{ share.create(title='Bagikan: ') }}
        </div>
      </div>
    </div>
    {% include 'components/arsipBerita.html' %}
  </div>
</div>
{% endblock %}
