{% extends 'components/main.html' %} {% block content %}

<form action="" method="POST" enctype="multipart/form-data">
  {{ form.csrf_token() }}
  <div class="form-row">
    <div class="col-md-5">
      {{ form.aspek_penilaian.label()}} {{
      form.aspek_penilaian(class='form-control')}}
    </div>
    <div class="col-md-4">
      {{ form.semester.label(for='semester')}} {{
      form.semester(class='form-control', id='semester')}}
    </div>
    <div class="col-md-3">
      {{ form.tahun_pelajaran.label()}} {{
      form.tahun_pelajaran(class='form-control', placeholder='2018/ 2019')}}
    </div>
  </div>
  <div class="form-row mt-4">
    <div class="col-md-12">
      {{ form.deskripsi.label()}} {{ form.deskripsi(class='form-control',
      id="summernote", placeholder='Deskripsi', rows='5')}}{% for error in
      form.deskripsi.errors %}
      <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </div>
  </div>
  <div class="form-row mt-4">
    {{ form.submit(class='btn btn-info btn-small btn-block')}}
  </div>
</form>

<script>
  $("#summernote").summernote({
    tabsize: 2,
    height: 300
  });
</script>
{% endblock %}
