{% extends 'components/main.html' %}

{% block content %}

{% include 'components/successInfo.html' %}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item">Data</li>
    <li class="breadcrumb-item active">Pegawai</li>
</ol>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Daftar data pegawai
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <a href="{{ url_for('server.tambah_pegawai') }}" class="btn btn-sm btn-primary mb-3"><i
                        class="far fa-plus-square"></i> Tambah Data </a>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</thcope="col">
                        <th>Jabatan</th>
                        <th>Jenis Kelamin</th>
                        <th>Tempat/ Tanggal Lahir</th>
                        <th>Action</the="col">
                    </tr>
                </thead>
                <tbody>
                    {% for pegawai in data_pegawai %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ pegawai.nama }}</td>
                        <td>Pegawai</td>
                        <td>{{ pegawai.jenis_kelamin }}</td>
                        <td>{{ pegawai.tempat_lahir }}, {{ pegawai.tanggal_lahir }}</td>
                        <td>
                            <a href="{{ url_for('server.lihat_pegawai', id=pegawai.id) }}" class="view" title="View"
                                data-toggle="tooltip"><i class="far fa-eye"></i></a>
                            <a href="{{ url_for('server.ubah_pegawai', id=pegawai.id) }}" class="edit" title="Edit"
                                data-toggle="tooltip"><i class="fas fa-pencil-alt"></i></a>
                            <a href="{{ url_for('server.hapus_pegawai', id=pegawai.id)}}" class="delete" title="Delete"
                                data-toggle="tooltip"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}