<nav class="navbar navbar-light bg-light fixed-top">
  <button type="button" class="btn btn-light border rounded-pill shadow-sm mb-1" data-toggle="modal"
    data-target="#left_modal_sm"><span class="navbar-toggler-icon"></span>
  </button>
  <div class="modal left fade" id="left_modal_sm" tabindex="-1" role="dialog" aria-labelledby="left_modal_sm">
    <div class="modal-dialog modal-sm" style="z-index: 20;" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><a href="{{ url_for('murid.murid_dashboard') }}">TK PKK</a></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul style="list-style: none; padding: 0;">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item py-4 text-center">
              <div class="img">
                <img src="{{ url_for('murid.foto_diri_murid', filename=current_user.murid.nama_foto_diri) }}"
                  alt="current_user.murid.nama_foto_diri" style="width: 60%;" class="rounded" />
              </div>
              <div class="nav-link text-center">
                <span>{{ current_user.murid.nama }}</span>
              </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider" />

            <!-- Heading -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('murid.murid_dashboard') }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('murid.murid_profile')}}">
                <i class="fas fa-fw fa-user"></i>
                <span>Profile</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('murid.murid_nilai')}}">
                <i class="fas fa-fw fa-book"></i>
                <span>Nilai</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('murid.murid_ganti_password')}}">
                <i class="fas fa-fw fa-key"></i>
                <span>Akun</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider" />

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.logout') }}">
                <i class="fas fa-fw fa-sign-out-alt"></i>
                <span>Log out</span></a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</nav>