<nav
  class="navbar navbar-expand navbar-dark bg-dark static-top d-flex justify-content-between"
>
  <a class="navbar-brand mr-1" href="{{ url_for('backend.dashboard')}}"
    >TK <strong>PKK</strong> Pringgabaya</a
  >

  <button
    class="btn btn-link btn-sm text-white order-1 order-sm-0"
    id="sidebarToggle"
    href="#"
  >
    <i class="fas fa-bars"></i>
  </button>

  <!-- Navbar -->
  <ul class="navbar-nav ml-auto ml-md-0 float-right">
    <li class="nav-item dropdown no-arrow">
      <a href="{{ url_for('auth.logout') }}" class="btn btn-sm btn-danger"
        >Logout</a
      >
    </li>
  </ul>
</nav>
