{% extends 'components/back_office.html' %}
{% block content_app %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ title.title() }}</h6>
        </div>
        <div class="card-body">
            <form class="user" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token() }}
                <div class="form-group">
                    {{ form.password.label() }}
                    {{ form.password(class="form-control")}}
                    {% for error in form.password.errors %}
                    <p style="font-size: 13px;margin: 10px;color: #2653d4;">{{ error }}</p>
                    {% endfor %}
                </div>
                {{ form.submit(class='btn btn-primary')}}
            </form>
        </div>
    </div>

</div>
{% endblock %}