{% extends 'components/main.html' %}

{% block content %}

{% include 'components/successInfo.html' %}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item">Data</li>
    <li class="breadcrumb-item active">Guru</li>
</ol>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Daftar data guru
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <a href="" class="btn btn-sm btn-primary mb-3"><i
                        class="far fa-plus-square"></i> Tambah Data </a>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</thcope="col">
                        <th>Jabatan</th>
                        <th>Kelas</th>
                        <th>Jenis Kelamin</th>
                        <th>Golongan</th>
                        <th>Tempat/ Tanggal Lahir</th>
                        <th>Action</the="col">
                    </tr>
                </thead>
                <tbody>
                    {% for guru in data_guru %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ guru.nama }}</td>
                        <td>{{ guru.jabatan }}</td>
                        <td>{{ guru.kelas.ruang }}</td>
                        <td>{{ guru.jenis_kelamin }}</td>
                        <td>{{ guru.golongan }}</td>
                        <td>{{ guru.tempat_lahir }}, {{ guru.tanggal_lahir }}</td>
                        <td>
                            <a href="" class="view" title="View"
                                data-toggle="tooltip"><i class="far fa-eye"></i></a>
                            <a href="" class="edit" title="Edit"
                                data-toggle="tooltip"><i class="fas fa-pencil-alt"></i></a>
                            <a href="" class="delete" title="Delete"
                                data-toggle="tooltip"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
{% endblock %}