{% extends 'components/mainLogin.html' %} {% block content %}
<div class="container my-5">
  <div id="login-row" class="row justify-content-center align-items-center">
    <div id="login-column" class="col-md-6">
      <div id="login-box" class="col-md-12">
        <form id="login-form" class="form" action="" method="POST">
          {{ form.csrf_token()}}
          <h3 class="text-center text-info">Login</h3>
          <div class="form-group">
            {{ form.email.label(class="text-info")}} {{
            form.email(class="form-control")}}
          </div>
          <div class="form-group">
            {{ form.password.label(class="text-info")}} {{
            form.password(class="form-control")}}
          </div>
          <div class="form-group">
            {{ form.submit(class="btn btn-info btn-md btn-block")}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
