{% extends 'components/mainMurid.html' %} {% block content %}
<small class="ml-5">DASHBOARD PESERTA DIDIK</small>
<div class="intro d-flex justify-content-between my-5 mx-5">
  <div class="nis col-md-3" style="padding: 0px;">
    <div class="nis-title d-flex justify-content-between">
      <h5>NIS</h5>
      <i
        class="fas fa-space-shuttle fa-lg fa-rotate-270"
        style="color: #845ef7;"
      ></i>
    </div>
    <div class="nis-content d-flex justify-content-between">
      <h5>{{ current_user.nomor_induk }}</h5>
      <i
        class="fas fa-space-shuttle fa-lg fa-rotate-270"
        style="color: #845ef7;"
      ></i>
    </div>
  </div>
  <div class="kelas col-md-3" style="padding: 0px;">
    <div class="kelas-title d-flex justify-content-between">
      <h5>Kelompok</h5>
      <i
        class="fas fa-space-shuttle fa-lg fa-rotate-270"
        style="color: #845ef7;"
      ></i>
    </div>
    <div class="kelas-content d-flex justify-content-between">
      <h5>{{ current_user.kelas.ruang }}</h5>
      <i
        class="fas fa-space-shuttle fa-lg fa-rotate-270"
        style="color: #845ef7;"
      ></i>
    </div>
  </div>
  <div class="wali-murid col-md-3" style="padding: 0px;">
    <div class="wali-murid-title d-flex justify-content-between">
      <h5>Orang Tua</h5>
      <i
        class="fas fa-space-shuttle fa-lg fa-rotate-270"
        style="color: #845ef7;"
      ></i>
    </div>
    <div class="wali-murid-content d-flex justify-content-between">
      <h5>{{ current_user.nama_ibu_kandung }}</h5>
      <i
        class="fas fa-space-shuttle fa-lg fa-rotate-270"
        style="color: #845ef7;"
      ></i>
    </div>
  </div>
</div>
<small class="ml-5">JADWAL KEGIATAN</small>
<div class="jadwal mx-5 my-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Hari</th>
        <th scope="col">Mata Pelajaran</th>
        <th scope="col">Jam</th>
      </tr>
    </thead>
    <tbody>
      {% for jadwal in jadwal%}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{jadwal.hari}}</td>
        <td>{{jadwal.mata_pelajaran}}</td>
        <td>{{jadwal.jam}} - {{ jadwal.jam_end }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
