{% extends 'components/mainMurid.html' %} {% block content %}
<small class="mx-5">NILAI PESERTA DIDIK</small>

<div class="mx-5 my-4">
  <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css' ) }}" rel="stylesheet">


  <div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ title.title() }}</h6>
      </div>
      <div class="card-body">
        <form target="_blank" action="{{ url_for('murid.print_murid_murid') }}" method="post">
          <select name="tahun" class="custom-select">
            {% for tahun in tahun_pelajaran %}
            <option value="{{ tahun }}">{{ tahun }}</option>
            {% endfor %}
          </select>
          <select name="semester" class="custom-select">
            {% for semester in semester %}
            <option value="{{ semester }}">{{ semester }}</option>
            {% endfor %}
          </select>
          <button type="submit" class="btn btn-primary">Print</button>
        </form>
      </div>
    </div>

  </div>

</div>
<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js' )}}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>

{% endblock %}