{% extends 'components/mainMurid.html' %} {% block content %}
<small class="mx-5">DATA LENGKAP PESERTA DIDIK</small>
<div class="container-fluid">
  <div class="mx-4">
    {% include 'components/flash.html' %}
  </div>
  <div class="biodata row">
    <div class="col-md-6 col-sm-12 col-12 col-xl-6 peserta-didik my-4">
      <div class="title-biodata">
        <small>BIODATA PESERTA DIDIK</small>
      </div>
      <div class="content-biodata-full">
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Nama</small>
            <h5 class="titleJawab">{{ murid.nama }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Nama Panggilan</small>
            <h5 class="titleJawab">{{ murid.nama_panggilan }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Nomor Induk</small>
            <h5 class="titleJawab">{{ murid.nomor_induk }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Anak Ke</small>
            <h5 class="titleJawab">{{ murid.anak_ke }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Jenis Kelamin</small>
            <h5 class="titleJawab">{{ murid.jenis_kelamin }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Tahun Pelajaran</small>
            <h5 class="titleJawab">{{ murid.tahun_pelajaran }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Nama Ibu Kandung</small>
            <h5 class="titleJawab">{{ murid.nama_ibu_kandung }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Agama</small>
            <h5 class="titleJawab">{{ murid.agama }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Tempat Lahir</small>
            <h5 class="titleJawab">{{ murid.tempat_lahir }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Tanggal Lahir</small>
            <h5 class="titleJawab">{{ murid.tanggal_lahir }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Dusun</small>
            <h5 class="titleJawab">{{ murid.dusun }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Kelurahan</small>
            <h5 class="titleJawab">{{ murid.kelurahan }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Kecamatan</small>
            <h5 class="titleJawab">{{ murid.kecamatan }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Kabupaten</small>
            <h5 class="titleJawab">{{ murid.kabupaten }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Provinsi</small>
            <h5 class="titleJawab">{{ murid.provinsi }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Alamat Lengkap</small>
            <h5 class="titleJawab">{{ murid.alamat }}</h5>
          </div>
        </div>
        <div class="form-group my-4">
          <div class="group d-flex justify-content-between">
            <a href="{{ url_for('murid.murid_ganti_profile_diri') }}" class="btn btn-sm btn-primary">Ubah</a>
          </div>
        </div>
      </div>
    </div>
    <div class="my-4 col-md-6 col-sm-12 col-12 col-xl-6 wali-murid-biodata">
      <div class="title-biodata-wali">
        <small>BIODATA WALI MURID</small>
      </div>
      <div class="content-biodata-full">
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Nama</small>
            <h5 class="titleJawab">{{ wali.nama }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Jenis Kelamin</small>
            <h5 class="titleJawab">{{ wali.jenis_kelamin }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Agama</small>
            <h5 class="titleJawab">{{ wali.agama }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Pekerjaan</small>
            <h5 class="titleJawab">{{ wali.pekerjaan }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Tempat Lahir</small>
            <h5 class="titleJawab">{{ wali.tempat_lahir }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Tanggal Lahir</small>
            <h5 class="titleJawab">{{ wali.tanggal_lahir }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Nomor Telepon</small>
            <h5 class="titleJawab">{{ wali.nomor_telepon }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Kelurahan</small>
            <h5 class="titleJawab">{{ wali.kelurahan }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Kecamatan</small>
            <h5 class="titleJawab">{{ wali.kecamatan }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Kabupaten</small>
            <h5 class="titleJawab">{{ wali.kabupaten }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Provinsi</small>
            <h5 class="titleJawab">{{ wali.provinsi }}</h5>
          </div>
        </div>
        <div class="form-group my-0">
          <div class="group">
            <small class="titleJudul">Alamat Lengkap</small>
            <h5 class="titleJawab">{{ wali.alamat }}</h5>
          </div>
        </div>
        {% if wali is none %}
        {% else %}
        <div class="form-group my-4">
          <div class="group d-flex justify-content-between">
            <a href="{{ url_for('murid.murid_ganti_profile_wali') }}" class="btn btn-sm btn-primary">Ubah</a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}