<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    {{ moment.include_jquery() }} {{ moment.include_moment() }} {{
    moment.lang("id")}} {% if title %}
    <title>{{ title }} | TK PKK Pringgabaya</title>
    {% else %}
    <title>Admin Site | TK PKK Pringgabaya</title>
    {% endif %}

    <!-- Custom fonts for this template-->
    <link
      href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>

    <!-- Page level plugin CSS-->
    <link
      href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link
      href="{{ url_for('static', filename='css/sb-admin.css') }}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/admin.css')}}"
    />
    <script
      src="https://kit.fontawesome.com/968ab7d3a6.js"
      crossorigin="anonymous"
    ></script>

    <link
      href="{{ url_for('static', filename='dist/css/datepicker.min.css')}}"
      rel="stylesheet"
      type="text/css"
    />
    <script src="{{ url_for('static', filename='dist/js/datepicker.min.js')}}"></script>

    <!-- Include English language -->
    <script src="{{ url_for('static', filename='dist/js/i18n/datepicker.en.js')}}"></script>

    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"
    />
  </head>

  <body id="page-top">
    {% include 'components/navbar.html' %}
    <div id="wrapper">
      {% include 'components/sideNavbar.html' %}
      <div id="content-wrapper">
        <div class="container-fluid">
          {% block content %} {% endblock %}
        </div>
        {% include 'components/footer.html' %}
      </div>
    </div>
    {% include 'components/buttonScroll.html' %} {% include
    'components/logoutModal.html' %}
    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin.min.js') }}"></script>

    <!-- Demo scripts for this page-->
    <script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>
      $(document).ready(function() {
        $("#dataTable").DataTable();
      });
    </script>
  </body>
</html>
