<ul class="sidebar navbar-nav">
  <li class="nav-item active">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('server.data_guru')}}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Data guru</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('server.data_pegawai')}}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Data pegawai</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('server.data_murid')}}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Data murid</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('server.data_wali')}}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Data wali murid</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('server.data_kelas')}}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Data kelas</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('server.lihat_profile')}}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Profile Sekolah</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('server.data_sekolah')}}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Data Sekolah</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('server.berita_sekolah') }}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Berita Sekolah</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('server.data_elearning') }}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>E-Learning</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('server.data_jadwal') }}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Jadwal Sekolah</span>
    </a>
  </li>
</ul>
